/* =========================================
   FOOTER - ZINGEN
========================================= */

footer {
    background-color: var(--bg-color);

    color: var(--text-color-secondary);
}


/* =========================================
   CONTAINER
========================================= */

footer .container {
    padding-top: 5rem;
    padding-bottom: 2rem;
}


/* =========================================
   PARTE SUPERIOR
========================================= */

footer .top {
    display: grid;

    grid-template-columns: 1fr;

    gap: 3rem;

    padding-bottom: 4rem;
}


/* LOGO */

footer .top > img {
    width: 6.25rem;
    height: auto;
}


/* =========================================
   NAVEGAÇÃO
========================================= */

footer nav ul {
    display: grid;

    gap: 0.75rem;

    list-style: none;
}

footer nav li {
    margin: 0;

    color: var(--text-color-secondary);

    font-size: 0.875rem;
}

footer nav li.title {
    margin-bottom: 0.5rem;

    color: var(--brand-color-primary);

    font-size: 0.75rem;
    font-weight: var(--fw-bold);

    letter-spacing: 0.08em;
    text-transform: uppercase;
}


/* LINKS */

footer nav a {
    transition: color 0.2s ease;
}

footer nav a:hover {
    color: var(--text-color-primary);
}


/* =========================================
   PARTE INFERIOR
========================================= */

footer .bottom {
    display: flex;

    flex-direction: column;

    align-items: flex-start;

    gap: 1.5rem;

    padding-top: 2rem;

    border-top: 1px solid var(--stroke-color);
}


/* REDES SOCIAIS */

footer .bottom > div {
    display: flex;

    align-items: center;

    gap: 1.5rem;
}


/* COPYRIGHT */

footer .copy {
    color: var(--text-color-secondary);

    font-size: 0.75rem;
}


/* =========================================
   TABLET
========================================= */

@media (width >= 48rem) {

    footer .top {
        grid-template-columns: 1fr 1fr;

        gap: 3rem;
    }

    footer .bottom {
        flex-direction: row;

        align-items: center;
        justify-content: space-between;
    }

}


/* =========================================
   DESKTOP
========================================= */

@media (width >= 80rem) {

    footer .container {
        padding-top: 6rem;
        padding-bottom: 2rem;
    }

    footer .top {
        grid-template-columns:
            2fr
            1fr
            1fr
            1fr;

        gap: 4rem;

        padding-bottom: 5rem;
    }

    footer .top > img {
        width: 7rem;
    }

    footer nav li {
        font-size: 0.875rem;
    }

    footer .bottom {
        flex-direction: row;

        align-items: center;
        justify-content: space-between;
    }

}