/* =========================================
   UTILITY - ZINGEN
========================================= */

.py-base {
    padding-block: var(--py-base);
}

.py-lg {
    padding-block: var(--py-lg);
}

.py-xl {
    padding-block: var(--py-xl);
}

.px-lg {
    padding-inline: var(--px-lg);
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.gap-1 {
    gap: 1rem;
}

.gap-1\.5 {
    gap: 1.5rem;
}

.grid {
    display: grid;
}

.even-columns {
    display: grid;
    gap: 2rem;
}


/* CONTAINER */

.container {
    width: calc(100% - 3rem);
    max-width: 80rem;
    margin-inline: auto;
}

.desktop-only {
    display: none;
}


/* TABLET */

@media (width >= 48rem) {

    .container {
        width: calc(100% - 4rem);
        max-width: 70rem;
    }

}


/* DESKTOP */

@media (width >= 80rem) {

    .container {
        width: calc(100% - 8rem);

        /* 1440px */
        max-width: 90rem;
    }

    .desktop-only {
        display: initial;
    }

    .even-columns {
        grid-template-columns: repeat(2, 1fr);
        gap: 6rem;
    }

}